/* 
background-color: #191717

total: #EAF0FD

offers: #b8f0e0

rejections: #FCEAEB

interviews: #FEF7E6

applied: #276CF8

text: #FFFFFF

card: #1F1D2C

cardlist: #333333
*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #191717;
    color: #FFFFFF;
    margin: 0;
    font-size: 1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* ##### header & nav styling ##### */

header,
.navbar {
    background-color: #191717;
    padding: 1rem 3rem;
}

.logo {
    width: 15rem;
    height: auto;
}

.nav-link {
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-link:hover {
    color: #FFFFFF;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    gap: 2rem;
}

.addJob {
    background-color: #276CF8;
    border-radius: 0.5rem;
    max-width: max-content;
    padding: 0.5rem 2rem;
}

.addIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar-toggler {
    background-color: #276CF8;
}


/* ##### updates section styling ##### */
.updateSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4rem 3rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

.updateSection>.card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 15rem;
    border: none;
}

.updateSection>.card:hover {
    transform: translateY(-1rem);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.totalCard {
    background-color: #bfd1f5;
}

.interviewCard {
    background-color: #FEF7E6;
}

.offerCard {
    background-color: #b8f0e0;
}

.rejectionCard {
    background-color: #FCEAEB;
}


/* ##### filter section styling ##### */
.filterSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
}

.form-select,
.input-group {
    max-width: 15rem;
    border-radius: 0.5rem;
}

.input-group {
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
}


/* ##### job list section styling ##### */
.jobListSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    margin-bottom: 4rem;
}

.jobListSection>.card {
    background-color: #333333;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.leftDiv {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.rightDiv {
    display: flex;
    gap: 0.2rem;
}

.companyLogo {
    width: 3.5rem;
    height: 3.5rem;
}

.jobListSection button {
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-weight: 600;
}

.appliedButton {
    background-color: #276CF8;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1.5rem;
}

.interviewButton {
    background-color: #FEF7E6;
    border: none;
    padding: 0.5rem 1.5rem;
}

.offerButton {
    background-color: #b8f0e0;
    border: none;
    padding: 0.5rem 1.5rem;
}

.rejectedButton {
    background-color: #FCEAEB;
    border: none;
    padding: 0.5rem 1.5rem;
}

.dotsButton {
    background-color: transparent;
}

/* ##### footer styling ##### */
footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3rem;
    justify-content: space-between;
    border-top: 1px solid #333333;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #b8f0e0;
}

footer a:hover {
    color: #FCEAEB;
    font-weight: bold;
    transition: color 0.3s ease;
}


/* ############### Responsive Design ########### */
/* screens above 900px */
@media (min-width: 900px) {
    .updateSection {
        flex-wrap: nowrap;
    }
}

/* screens below above 700px and below 1104px */
@media (min-width: 700px) and (max-width: 1104px) {
    .jobListSection>.card {
        width: 100%;
    }
}

/* screens below 700px */
@media (max-width: 700px) {

    .jobListSection>.card {
        flex-direction: column;
        gap: 1rem;
    }
}

/* screens below 890px */
@media (max-width: 890px) {
    footer {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}